$mainBackgroundColor: #FDFDFB;
$figureColore: #EAE3D4;
$textHeaderColor: #555248;
$footerBackgroundColor: #444240;
$footerColor: #fff;
$mainTextColor: #1B1A17;
$counterBackgroundColor: #E6C8B4;
$button-background: #D4B098;

$font-lead: "Playfair Display";
$font-caption: "Prata";
$font: "Roboto";

%font-footer {
  font-size: 12px;
  line-height: 1.17;
}

%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

%grid {
  display: grid;
  justify-content: center;
  align-items: center;
}