@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Prata&family=Roboto:wght@300;400;500;700&display=swap');

@import "./_normalize";
@import "./_header";
@import "./_constants";
@import "./_footer";
@import "./_lead";
@import "./popular";
@import "./quality";
@import "./social-network";

.page {
  @extend %font-text;
  font-size: 14px;
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  background-color: #fff;
  color: #1B1A17;
}

.lock {
  overflow: hidden;
}

.link:hover {
  text-decoration: underline;
}

.title {
  font-family: $font-lead;
  font-size: 32px;
  line-height: 1.33;
  font-weight: 400;
}

.text-line {
  height: 1px;
  display: block;
  border-bottom: 1px solid #8B8371;
  position: absolute;
  top: 55%;
}

.button {
  width: 205px;
  @extend %font-text;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  padding: 24px 0;
  text-transform: uppercase;
}